.card {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    padding-top: 20px;
    margin: auto;
    max-width: 640px;
}

.order__number {
    composes: text text_type_digits-default mb-10 from global;
    text-align: center;
}

.order__name {
    composes: text text_type_main-medium mb-3 from global;
}

.order__status {
    composes: text text_type_main-small mb-15 from global;
    color: #00CCCC;
}

.ingredients__title {
    composes: text text_type_main-medium mb-6 from global;
}

.ingredients__list {
    composes: mb-10 from global;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 330px;
    overflow: auto;
}

.list_item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.ingredient_title {
    composes: text text_type_main-default from global;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__time {
    composes: text text_type_main-default text_color_inactive from global;
}

.order__price {
    composes: text text_type_digits-default from global;
}