.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 272px;
    list-style: none;
    position: relative;
}

.image {
    max-width: 240px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger_element__image {
    display: block;
    width: 240px;
    height: 120px;
}
