.card {
    composes:p-6 from global;
    border-radius: 40px;
    max-width: 608px;
    background: #1C1C21;
    box-sizing: border-box;
}

.order__info {
    composes: mb-6 from global;
    display: flex;
    justify-content: space-between;
}

.order__number {
    composes: text text_type_digits-default from global;
}

.order__time {
    composes: text text_type_main-default text_color_inactive from global;
}

.order__title {
    composes: text text_type_main-medium mb-6 from global;
}

.total {
    display: flex;
}

.order__list {
    display: inline;
    margin-right: -200px;
    min-width: 436px;
}

.order__price {
    composes: text text_type_digits-default ml-6 mr-2 from global;
}

.order__list_item {
    display: inline-block;
    /*margin-right: -200px;*/
    margin-right: -20px;
    max-width: 64px;
    max-height: 64px;
    border-radius: 100%;
}

.order__list_item img {
    object-fit: contain;
}