.ingredients__list_item {
    composes: pl-8 pr-2 text text_type_main-default from global;
}

.constructor__list_item_middle {
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;
    min-width: 100%;
}