.navigation__list {
    list-style: none;
    display: flex;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    /* max-width: 1280px; */
}

.header__link {
    
    display: flex;
    align-items: center;
}